.search-results-container {
  display: grid;
  grid-template-columns: 15% 85%;
  margin-top: 1rem;
  margin-right: 2rem;
  height: 100%;
  grid-column-gap: 2rem;
}

.search-results {
  margin-right: 1.5rem;
}
.car-info {
  flex: 1 1 33.33%;
  box-shadow: 0 0 1rem 0 #efeeec;
  border-right: 0.1rem solid;
}

.car-cards {
  display: flex;
  flex-wrap: wrap;
}

.recommended-results-container {
  border: 0.1rem solid #1b7de1;
}

.other-search-results {
  margin-top: 1rem;
}

.best-deal {
  background: #1b7de1;
  color: #fff;
  margin: 0;
}

.search-checkbox {
  margin: 0 3rem;
}
